*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
    /* overflow: hidden; */
}

input, textarea {
    display: block;
    margin: 10px 0;
}

<<<<<<< HEAD

#CNT_formFormat{
    position: sticky;
    top: 0;
    width: 16%;
=======
#formFormat{
    width: 20%;
>>>>>>> parent of c316f43 (Update)
    background-color: rgb(61, 61, 61);
    padding: 20px;
    overflow: scroll;
    height: 100%;
}

#modificPV{
    width: 80%;
    background-color: rgb(61, 61, 61);
    padding: 20px ;
    height: 100%;
}

.preview {
    width: 80%;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
}

.preview::content{
    position: absolute;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 100px;
    height: auto;
    object-fit: contain;
<<<<<<< HEAD
}

button{
    width: 90%;
}

/********Preview Style********/

.CNT_preview {
    width: 80%;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    text-align: start;
    justify-content: left;
    position: relative;
}

.container{
    top: calc(var(--MinimalCalc) * 5.87);
    left: 93px;
    position: absolute;
    width: 915px;
    height: 520px;
}



.P_mainText, .P_longText{
    position: absolute;
    top: 0;
    left: 155px;
    font-weight: 600;
    font-size: 24px;
}

img{
    width: 1080px;
    height: 803px;
    object-fit: contain;
}

/*Single Modify*/

#proposal-type{
    top:calc(var(--MinimalCalc));
    color: black;
}

#client-name{
    top:calc(var(--MinimalCalc) + 233px);
    left: 170px;
}

#proposal-date{
    top:calc(var(--MinimalCalc) + 275px);
    left: 170px;
}

#proposal-scope{
    width: 70%;
    position: relative;
    top:calc(var(--MinimalCalc) * 0.1);
    left: 50px;
    font-size: 32px;
}

#P_scope-details{
    position: relative;
    top:calc(var(--MinimalCalc) * 0.1);
    /* left: 50px; */
}

.P_checkable::after{
    content: "";
    width: 20px;
    height: 20px;
    background-image: url('/src/img/check.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 5px;
    left: -30px;
    z-index: 99;
}

#CNT_emmetScope{
    position: absolute;
    top: calc(var(--MinimalCalc) * 4.06);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.scope-title{
    width: 80%;
    position: relative;
    top:calc(var(--MinimalCalc) * 0.1);
    left: 50px;
    margin-bottom: 2px;
}

.scope-check{
    width: 22px;
    height: 22px;
    position: absolute;
    left: 55px;
    top:calc(var(--MinimalCalc) * 0.21);
}

.scope-descript{
    width: 88%;
    position: relative;
    top:calc(var(--MinimalCalc) * 0.1);
    left: 80px;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: large;
}

#values-title{
    width: 70%;
    position: relative;
    top:calc(var(--MinimalCalc) * 0.1);
    left: 50px;
}

.Cvalues-title{
    width: 70%;
    height:fit-content;
    position: relative;
    left: 50px;
    font-size: 24px;
}

#value-details{
    position: relative;
    top:calc(var(--MinimalCalc) * 0.1);
    left: 100px;
}

.Cvalues-details{
    position: relative;
    height:fit-content;
    left: 100px;
    font-size: 24px;
}

#default-pay{
    position: absolute;
    top: calc(var(--MinimalCalc) * 0.73);
    left: 40px;
    font-size: 24px;
    font-weight: 700;
}

#deadline{
    position: absolute;
    font-size: 32px;
    top:calc(var(--MinimalCalc) * 1.15);
    left: 14px;
    color: #31db90;
}

#work-days{
    color: white;
}

#CNT_emmetValues{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
=======
>>>>>>> parent of c316f43 (Update)
}