@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/********General********/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Default: #F2F2F2;
    --MinimalCalc: 445px;
}

body {
    font-family: 'Poppins', sans-serif;
    color: white;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100vw;
}

/********Navegation********/

input, textarea {
    display: block;
    margin: 10px 0;
}


#formFormat{
    position: sticky;
    top: 0;
    width: 16%;
    background-color: rgb(61, 61, 61);
    padding: 30px;
    height: 100%;
}

#modificPV{
    width: 80%;
    background-color: rgb(61, 61, 61);
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 100px;
    height: auto;
    object-fit: contain;
}

button{
    width: 90%;
}

/********Preview Style********/

.preview {
    width: 80%;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    text-align: start;
    justify-content: left;
    position: relative;
}

.container{
    top: calc(var(--MinimalCalc) * 5.87);
    left: 93px;
    position: absolute;
    width: 915px;
    height: 520px;
}



.p-mainText, .p-longText{
    position: absolute;
    top: 0;
    left: 155px;
    font-weight: 600;
    font-size: 24px;
}

img{
    width: 1080px;
    height: 803px;
    object-fit: contain;
}

/*Single Modify*/

#proposal-type{
    top:calc(var(--MinimalCalc));
    color: black;
}

#client-name{
    top:calc(var(--MinimalCalc) + 233px);
    left: 170px;
}

#proposal-date{
    top:calc(var(--MinimalCalc) + 275px);
    left: 170px;
}

#proposal-scope{
    width: 70%;
    position: relative;
    top:calc(var(--MinimalCalc) * 0.1);
    left: 50px;
    font-size: 32px;
}

#scope-descript{
    position: relative;
    top:calc(var(--MinimalCalc) * 0.1);
    /* left: 50px; */
}

#emmetScope{
    position: absolute;
    top: calc(var(--MinimalCalc) * 4.06);
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.scope-title{
    width: 80%;
    position: relative;
    top:calc(var(--MinimalCalc) * 0.1);
    left: 50px;
    margin-bottom: 2px;
}

.scope-check{
    width: 22px;
    height: 22px;
    position: absolute;
    left: 55px;
    top:calc(var(--MinimalCalc) * 0.21);
}

.scope-descript{
    width: 88%;
    position: relative;
    top:calc(var(--MinimalCalc) * 0.1);
    left: 80px;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: large;
}

#values-title{
    width: 70%;
    position: relative;
    top:calc(var(--MinimalCalc) * 0.1);
    left: 50px;
}

.Cvalues-title{
    width: 70%;
    height:fit-content;
    position: relative;
    left: 50px;
    font-size: 24px;
}

#value-details{
    position: relative;
    top:calc(var(--MinimalCalc) * 0.1);
    left: 100px;
}

.Cvalues-details{
    position: relative;
    height:fit-content;
    left: 100px;
    font-size: 24px;
}

#emmetValues{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}